@import url('./reset.css');


h1 {
    font-size: 35px;
}

.btn {
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 20px;
    padding: 20px 40px;
}

.user-list {
    display: flex;
    flex-direction: column;


}

.user-list li {
    margin: 20px 5px;
}

.user-list li p {
    font-size: 18px;
    margin: 10px;
}